.products {
  &__add {
    margin-top: 40px;
    padding: 15px 20px;
    i {
      font-size: 24px;
      margin-right: 5px;
      font-weight: bold;
    }
  }
  &__table {
    width: 100%;
    // border-spacing: 0;
    // border-collapse: collapse;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin-top: 20px;
    th,
    td {
      text-align: center;
      padding: 8px;
    }
    thead {
      tr {
        background-color: #f2f2f2;
      }
    }

    &__action {
      display: flex;
      gap: 10px;
      justify-content: center;
      &__delete {
        background-color: red;
        padding: 15px;
        i {
          font-size: 20px;
        }
      }
      &__edit {
        background-color: yellow;
        padding: 15px;
        color: black;
        i {
          font-size: 20px;
        }
      }
    }
  }
}
