.title {
  padding: 100px 0 20px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  &__text {
    font-size: 40px;
    font-weight: 900;
    font-style: italic;
  }
}

.container {
  justify-content: center;
  margin-bottom: 60px;
}

.invoice {
  margin-top: 20px;
  // padding: 0 20rem 0 20rem;
  background-color: rgb(236, 236, 236);
  margin: 0 20rem 0 20rem;
  border-radius: 8px;
  padding-bottom: 25px;

  &__main {
    &__content {
      display: flex;
      justify-content: space-between;
      padding: 30px;
      &__left {
        width: 30%;
        text-align: left;
        &__image {
          width: 200px;
          height: 200px;
          border-radius: 20px;
        }
        &__name {
          font-size: 40px;
          color: #000 !important;
          font-weight: 700;
        }
        &__address,
        &__phone {
          color: #000 !important;
          font-size: 18px;
          font-weight: 700;
        }

        h1 {
          color: grey;
          font-size: 28px;
          margin-top: 10px;
        }
        h3 {
          color: grey;
        }
        p {
          margin-top: 8px;
          margin-bottom: 4px;
          color: rgb(162, 161, 161);
        }
      }
      &__right {
        font-size: 30px;
        width: 50%;
        text-align: end;
        &__data {
          font-size: 20px !important;
          text-align: left;
          gap: 40px;
          &__item {
            display: flex;
            gap: 50px;
            margin-bottom: 10px;
            &__title {
              color: grey;
              width: 30%;
              font-weight: 700;
            }
          }
        }
      }
    }
  }

  .emptyAddress {
    color: rgb(156, 156, 153) !important;
    font-style: italic;
    font-size: 25px;
  }

  &__summary {
    padding: 30px;
    &__table {
      width: 100%;
      border: 3px solid #989898;
      border-radius: 5px;
      margin-top: 20px;
      th,
      td {
        text-align: center;
        padding: 8px;
      }
      thead {
        tr {
          background-color: #626161;
          color: #fff;
        }
      }
      tr:nth-child(even) {
        background-color: #e2e2e2;
      }
    }

    &__total {
      display: flex;
      justify-content: flex-end;
      align-items: center;
      padding: 20px;
      gap: 40px;
      margin-top: 20px;
      margin-left: 35rem;
      height: 40px;
      background-color: #989898;
      border-radius: 3px;

      &__title {
        font-size: 25px;
        font-weight: 800;
      }
      &__price {
        font-size: 25px;
        font-weight: 500;
      }
    }
  }
}
